{% extends 'base.html.twig' %}

{% block body %}
    <header class="intro1">
        <div class="intro1-body">
            <div class="container">

            </div>
        </div>
    </header>

{% endblock %}