#map {
    width: 100%;
    height: 490px;
}

section#contact {
    background-color: black;
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #42dca3;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 700;
    color: #a9a9a9;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #a9a9a9;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #a9a9a9;
}
section#contact :-ms-input-placeholder {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #a9a9a9;
}
section#contact .text-danger {
    color: #e74c3c;
}


