<section>
    <div id="container">
        <div class="row">
            <div class="col-lg-8" >
            <form action="" method="post" id="contactForm">
                <div class="form-group">
                 <input type="text" placeholder="Imię i nazwisko" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Imię i nazwisko" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Imię i nazwisko" class="form-control">
                </div>
                <button type="submit" class="btn btn-default disabled">Zapisz</button>




            </form>
            </div>
            </div>
    </div>
</section>