{% extends 'base.html.twig' %}

{% block body %}
aa
    {#<table class="table">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>Movie name</th>#}
            {#<th>Character</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for movie in movies %}#}
            {#<tr>#}
                {#<td>{{ movie.name }}</td>#}
                {#<td>{{ movie.surname }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

{% endblock %}